p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: calc(0px + 1.9vmin);
  color: #000000;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
}

.sliderHeader {
  padding-left: 50%;
}
.valueField {
 padding-right: 90%;
}